.wit-kader-contact {
    display: flex;
    flex-direction: row;
    flex: wrap;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: var(--kader-background, white);
    padding: 5rem 1rem;
    animation: fadeIn 0.2s ease-in forwards;
    box-shadow: 0.5rem 0.5rem 1rem var(--kader-shadow, rgba(0,0,0,0.2));
}

#live-locatie {
    border: 0.5rem solid var(--kader-border, #3a35353e);
    box-shadow: 0 0.5rem 0.9rem rgba(0,0,0,0.1);
}

@media (max-width: 940px) {
    .wit-kader-contact {
      padding: 3rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
}

@media (max-width: 480px) {
    .wit-kader-contact {
      width: 100%; 
      max-width: 100%; 
      padding: 4rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      box-sizing: border-box; 
    }
    
    #live-locatie {
      width: 100%; 
      border-width: 0.3rem;
      box-sizing: border-box;
    }
    
    #live-locatie iframe {
      width: 100%; 
      height: 15rem;
      max-width: 100%;
    }
    
    #text-contact {
      width: 100%;
    }
}