html {
    color: #3a3535;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.wit-kader-algemeen h1 {
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 0.15rem solid #3a3535;
    margin-bottom: 1.4rem;
}

#body-menu {
    display: flex;
}

#gerechten {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.gerecht {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.09rem solid #3a35353e;
    border-radius: 2cap;
    padding: 1.5rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.1);
}

.gerecht button {
    cursor: pointer;
    background-color: #e6ded7;
    padding: 0.8em;
    border: 0.09rem solid #3a35353e;
    border-radius: 2cap;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.1);
}

.gerecht button:hover {
  background-color: black;
  box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.25);
}

label {
    cursor: pointer;
}

.wit-kader-algemeen {
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: white;
    padding: 3rem;
    animation: fadeIn 0.2s ease-in forwards;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.suggestie {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 0.09rem solid #3a35353e;
    border-radius: 2cap;
    width: 45%;
    padding: 2rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.1);
}

.bestelling-info-suggesties {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    margin: 2rem;
}

.bestelling-info-gerechten {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 2rem;
    margin: 1.5rem;
}

.aantal-gerechten input, .aantal-suggesties input {
    width: 4rem;
    padding: 0.75rem;
    border: 1px solid #e6ded7;
    border-radius: 4px;
    font-family: inherit;
    font-size: 1rem;
    box-sizing: border-box;
}

.aantal-gerechten input:focus, .aantal-suggesties input:focus {     /* probleem met kleur van de focus */
    outline: none;
    border-color: #e6ded7;
    box-shadow: 0 0 0 2px rgba(230, 222, 215, 0.3);
}

#suggestie-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

@media (max-width: 830px) {
    #suggestie-container {
        flex-wrap: wrap;
    }

    #body-suggesties {
        gap: 0rem;
    }

    .containers-kolom {
        margin: 2rem;
    }
}